/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Jaldi", sans-serif;
  color: #4a3553;
  background-color: #000000;
}

a {
  color: #ffb251;
  text-decoration: none;
}

/* -------------------------------- 

Slider

-------------------------------- */
.cd-slider-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  /* hide horizontal scrollbar on IE11 */
  overflow: hidden;

}
.cd-slider-wrapper .cd-slider, .cd-slider-wrapper .cd-slider > li {
  height: 100%;
  width: 100%;
}

.cd-slider > li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  /* used to vertically center its content */
  display: table;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-slider > li.visible {
  /* selected slide */
  position: relative;
  z-index: 2;
  opacity: 1;
}
.cd-slider > li:first-of-type {
  background-color: #4a3553;
  background-image: url(https://img.zcool.cn/community/01380e57e8912a0000012e7e728db1.jpg);
}
.cd-slider > li:nth-of-type(2) {
  background-color: #ffb251;
  background-image: url(http://wx2.sinaimg.cn/large/005Uzf6sgy1fp31d40nayj31hc0u07g4.jpg);
}
.cd-slider > li:nth-of-type(3) {
  background-color: #7d7160;
  background-image: url(http://wx4.sinaimg.cn/large/005Uzf6sgy1fp31gflmdhj31kw148gq7.jpg);
}
.cd-slider > li:nth-of-type(4) {
  background-color: #ff625a;
  background-image: url(http://wx3.sinaimg.cn/large/005Uzf6sgy1fp31d4h6jkj30zk0k0466.jpg);
}
.cd-slider > li:nth-of-type(5) {
  background-color: #ff625a;
  background-image: url(http://wx4.sinaimg.cn/large/005Uzf6sgy1fp31d2uvvcj30zj0m8tuy.jpg);
}
.cd-slider > li:first-of-type, .cd-slider > li:nth-of-type(2), .cd-slider > li:nth-of-type(3), .cd-slider > li:nth-of-type(4), .cd-slider > li:nth-of-type(5) {
  background-size: cover;
}
.cd-slider > li > div {
  /* vertically center the slider content */
  vertical-align: middle;
  text-align: center;
}
.cd-slider > li h2, .cd-slider > li p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 auto 14px;
  color: #ffffff;
  width: 90%;
  max-width: 320px;
}
.cd-slider > li h2 {
  font-size: 2.4rem;
}
.cd-slider > li p {
  font-size: 1.4rem;
  line-height: 1.4;
}
.cd-slider > li .cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: .25em;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .cd-slider > li .cd-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 768px) {
  .cd-slider > li h2, .cd-slider > li p {
    max-width: 820px;
    font-size: 14px;
  }
  .cd-slider > li h2 {
    font-size: 2.4em;
    font-weight: 300;
  }
  .cd-slider > li .cd-btn {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-slider > li h2, .cd-slider > li p {
    margin-bottom: 20px;
  }
  .cd-slider > li h2 {
    font-size: 3.2em;
  }
  .cd-slider > li p {
    font-size: 1.8rem;
  }
}

/* -------------------------------- 

Slider navigation

-------------------------------- */
.cd-slider-navigation {
  position: absolute;
  top: 5%;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 4;
  text-align: center;
  width: 90%;
}
.cd-slider-navigation::after {
  clear: both;
  content: "";
  display: table;
}
.cd-slider-navigation li {
  display: inline-block;
  margin-right: 20px;
}
.cd-slider-navigation li:last-of-type {
  margin-right: 0;
}
.cd-slider-navigation a {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  background: url(../css/cd-icon-navigation.svg) no-repeat -10px -10px;
  border-radius: 50%;
  background-color: #ffffff;
}
.no-touch .cd-slider-navigation a:hover em {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s, -webkit-transform 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s, -moz-transform 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s, transform 0.2s 0s;
}
.cd-slider-navigation li.selected:first-of-type a {
  /* change custom icon using image sprites */
  background-position: -10px -70px;
}
.cd-slider-navigation li:nth-of-type(2) a {
  background-position: -70px -10px;
}
.cd-slider-navigation li.selected:nth-of-type(2) a {
  background-position: -70px -70px;
}
.cd-slider-navigation li:nth-of-type(3) a {
  background-position: -130px -10px;
}
.cd-slider-navigation li.selected:nth-of-type(3) a {
  background-position: -130px -70px;
}
.cd-slider-navigation li:nth-of-type(4) a {
  background-position: -190px -10px;
}
.cd-slider-navigation li.selected:nth-of-type(4) a {
  background-position: -190px -70px;
}
.cd-slider-navigation li:nth-of-type(5) a {
  background-position: -250px -10px;
}
.cd-slider-navigation li.selected:nth-of-type(5) a {
  background-position: -250px -70px;
}
.cd-slider-navigation em {
  /* tooltip visible on hover */
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  padding: 8px 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  font-size: 1.3rem;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(3px);
  -moz-transform: translateX(-50%) translateY(3px);
  -ms-transform: translateX(-50%) translateY(3px);
  -o-transform: translateX(-50%) translateY(3px);
  transform: translateX(-50%) translateY(3px);
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s, -webkit-transform 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s, -moz-transform 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s, transform 0.2s 0s;
}
.cd-slider-navigation em::after {
  /* tooltip arrow */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -10px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 1170px) {
  .cd-slider-navigation a {
    height: 60px;
    width: 60px;
  }
  .cd-slider-navigation li:first-of-type a {
    /* change custom icon using image sprites */
    background-position: 0 0px;
  }
  .cd-slider-navigation li.selected:first-of-type a {
    /* change custom icon using image sprites */
    background-position: 0 -60px;
  }
  .cd-slider-navigation li:nth-of-type(2) a {
    background-position: -60px 0;
  }
  .cd-slider-navigation li.selected:nth-of-type(2) a {
    background-position: -60px -60px;
  }
  .cd-slider-navigation li:nth-of-type(3) a {
    background-position: -120px 0;
  }
  .cd-slider-navigation li.selected:nth-of-type(3) a {
    background-position: -120px -60px;
  }
  .cd-slider-navigation li:nth-of-type(4) a {
    background-position: -180px 0;
  }
  .cd-slider-navigation li.selected:nth-of-type(4) a {
    background-position: -180px -60px;
  }
    .cd-slider-navigation li:nth-of-type(5) a {
    background-position: -240px 0;
  }
  .cd-slider-navigation li.selected:nth-of-type(5) a {
    background-position: -240px -60px;
  }
}

/* -------------------------------- 

svg cover layer

-------------------------------- */
.cd-svg-cover {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.cd-svg-cover path {
  fill: #ffe8c9;
}
.cd-svg-cover.is-animating {
  z-index: 4;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}



        .form-horizontal{

            opacity:1.0;
            filter:alpha(opacity=70);
            padding-bottom: 1px;
            border-radius: 15px;
            text-align: center;
            max-width: 340px;
            margin-top:70px;
            margin-bottom:15%;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #fff;
        }

        .form-horizontal .ccwcc{
            display: block;
            color:#000000;
            font-size: 25px;
            font-weight: 700;
            padding: 15px 0;
            border-bottom: 1px solid #fff;
            margin-bottom: 1px;
        }
        .form-horizontal .ccwcc1{
            display: block;
            color:#fff;
            font-size: 20px;
            font-weight: 700;
            padding: 10px 0;
            border-bottom: 1px solid #fff;
            margin-bottom: 25px;
        }

        .form-horizontal .heading{
            display: block;
            color:#000000;
            font-size: 25px;
            font-weight: 700;
            padding: 15px 0;
            border-bottom: 1px solid #fff;
            margin-bottom: 30px;
        }
        .form-horizontal .form-group{
            padding: 0 40px;
            margin: 0 0 25px 0;
            position: relative;
        }
        .form-horizontal .form-control{
            opacity:0.8;
            background: #fff;
            border: 1px solid #f0f0f0;;
            border-radius: 20px;
            box-shadow: none;
            padding: 0 20px 0 45px;
            height: 40px;
            transition: all 0.3s ease 0s;
        }

        .form-horizontal .form-control:focus{
            opacity:0.8;
            background: #fff;
            box-shadow: none;
            outline: 0 none;
        }
        .form-horizontal .form-group i{
            position: absolute;
            top: 12px;
            left: 60px;
            font-size: 17px;
            color: #c8c8c8;
            transition : all 0.5s ease 0s;
        }
        .form-horizontal .form-control:focus + i{
            color: #00b4ef;
        }
        .form-horizontal .fa-question-circle{
            display: inline-block;
            position: absolute;
            top: 12px;
            right: 60px;
            font-size: 20px;
            color: #808080;
            transition: all 0.5s ease 0s;
        }
        .form-horizontal .fa-question-circle:hover{
            color: #000;
        }
        .form-horizontal .main-checkbox{
            float: left;
            width: 20px;
            height: 20px;
            background: #11a3fc;
            border-radius: 50%;
            position: relative;
            margin: 5px 0 0 5px;
            border: 1px solid #11a3fc;
        }
        .form-horizontal .main-checkbox label{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
        }
        .form-horizontal .main-checkbox label:after{
            content: "";
            width: 10px;
            height: 5px;
            position: absolute;
            top: 5px;
            left: 4px;
            border: 3px solid #fff;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity:1.0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        .form-horizontal .main-checkbox input[type=checkbox]{
            visibility: hidden;
        }
        .form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{
            opacity:1.0;
        }
        .form-horizontal .text{
            float: left;
            margin-left: 7px;
            line-height: 20px;
            padding-top: 5px;
            color:#fff;
            text-transform: capitalize;
        }
        .form-horizontal .btn{
            opacity:0.9;
            float:50%;
            font-size: 14px;
            color: #fff;
            background: #00b4ef;
            border-radius: 30px;
            padding: 10px 25px;
            border: none;
            text-transform: capitalize;
            transition: all 0.5s ease 0s;
        }
        @media only screen and (max-width: 479px){
            .form-horizontal .form-group{
                padding: 0 25px;
            }
            .form-horizontal .form-group i{
                left: 45px;
            }
            .form-horizontal .btn{
                padding: 10px 20px;
            }
        }